.category-title {
  font-size: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1.5rem;
}